<div class="alerts_unit">
	<div class="unit_info">
		<div class="title">
			<b>__alerts_title__</b>
		</div>
		<div class="clear_both"></div>
		<div class="fr_small_gray_centered">
			<span class="margined10">
				<span><bx_text:_modzzz_alerts_notify_created />: __post_date__</span>
			</span> 
			<span class="margined10">
				<bx_text:_modzzz_alerts_notify_me />: __alerts_notify__
			</span>
 		</div> 
		<div class="clear_both"></div>
		<div class="blog_text">
 			<b><bx_text:_modzzz_alerts_for_following_modules />:</b> __alerts_units__
		</div>
		<div class="clear_both"></div>
	</div>
	<div class="clear_both"></div>
</div>
