<div class="credit_trans_headgroup" >
	<div class="credit_trans_head"><bx_text:_modzzz_credits /></div>
	<div class="credit_trans_head"><bx_text:_modzzz_credit_date_purchased /></div>
 	<div class="credit_trans_head"><bx_text:_modzzz_credit_transaction_id /></div> 
</div>
<div class="clear_both"></div> 

<bx_repeat:items>
<div class="credit_trans_rowgroup" >
	<div class="credit_trans_row">__credits__</div> 
	<div class="credit_trans_row">__date__</div>
	<div class="credit_trans_row">__transaction__</div>
 </div>
<div class="clear_both"></div> 
</bx_repeat:items>

<div class="credit_trans_totalgroup" >
	<div class="credit_trans_totalrow_right">&nbsp;</div> 
	<div class="credit_trans_totalrow_right"><bx_text:_modzzz_credit_total_bought /> (__period__): </div>
	<div class="credit_trans_totalrow">__total_bought__</div>
 </div>