<div class="credit_action_headgroup" >
	<div class="credit_action_head"><bx_text:_modzzz_credit_caption_group /></div>
	<div class="credit_action_head"><bx_text:_modzzz_credit_caption_description /></div>
	<div class="credit_action_head"><bx_text:_modzzz_credit_caption_value /></div>
</div>
<div class="clear_both"></div>  
<bx_repeat:items>
<div class="credit_action_rowgroup" >
	<div class="credit_action_row">__group__</div> 
	<div class="credit_action_row">__description__</div>
	<div class="credit_action_row">__value__</div>
</div>
<div class="clear_both"></div>
</bx_repeat:items>
