 <style>
  div.fan_box {
    width: __width__px;
    height: __height__px;
    border:1px solid #__border_color__;
    background-color:#__background_color__;
    float:left;
    padding:3px;
  }
	.sys_box_header
	{
		padding:5px;
		font-size:12px;
		text-align:left;
		font-weight:bold;
		background-color:#__border_color__;
		font-family:arial;
	}
  </style>
  
<link href="__url__modules/modloaded/pages/templates/base/css/unit.css" rel="stylesheet" type="text/css" />

<div class="fan_box">
	<div class="sys_box_header">__find_us_on__ __site_title__</div>
	<div style="position:relative;width:67px;float:left;margin-top:3px;">
		<a style="font-size:13px;" class="sys_box_title" href="__page_url__" target="_blank"><img src="__bg_image__" border=0 ></a>
	</div>
	<div style="padding:3px;">
		<div><a style="font-size:13px;" class="sys_box_title" href="__page_url__" target="_blank">__page_title__</a></div>
		<div class="sys_box_title" style="font-size:11px;"> __total_fans__ </div>
	</div>	
	<!--<div style="margin-top:3px;height:64px;background:#ffffff url('__bg_image__') no-repeat left top;" class="sys_box_title"><span style="word-wrap: break-word;"><a style="word-wrap: break-word;margin-left:70px;font-size:16px;" class="sys_box_title" href="__page_url__" target="_blank">__page_title__</a></span><br><span style="margin-left:75px;font-size:11px;"> __total_fans__ </span></div>-->
</div>
