.credit_trans_headgroup {
	float:left;
	margin-bottom: 30px;
	width:100%; 
}

.credit_trans_rowgroup {
	float:left;
	margin-bottom: 10px;
	width:100%;  
}

.credit_trans_totalgroup {
	float:left;
	margin-bottom: 10px;
	width:100%; 
	font-weight:bold;
	font-size:14px;	
}

.credit_trans_totalrow_right {
	float:left;
	width:31%; 
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 5px; 
	padding-right: 5px; 
	padding-bottom: 2px;
	text-align:right;
}

.credit_trans_totalrow {
	float:left;
	width:31%; 
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 5px; 
	padding-right: 5px; 
	padding-bottom: 2px;  
	border:2px dotted #DADADA;
}


.credit_trans_head {
	float:left;
	width:31%; 
	font-weight:bold;
	font-size:14px;
	margin-left: 2px;
	margin-right: 2px;  
	padding: 5px; 
	background-color:#c0c0c0; 
}

.credit_trans_row {
	float:left;
	width:31%; 
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 5px; 
	padding-right: 5px; 
	padding-bottom: 2px;   
}