<script type="text/javascript" language="javascript">
<!--
	Profile._sActionsUrl = '__actions_url__';
	Profile._sObjName = '__obj_name__';
    Profile._sViewType = '__sel_view__';
    Profile._sCtlType = '__sel_control__';
	Profile._iPerPage = '__per_page__';
    Profile._sOrderBy = '__order_by__';
-->
</script>
<div id="points-members-panel" class="points-control-wrapper">
    <div id="points-search" class="points-search">__search__</div>
	<div id="points-member-section" class="points-member-section">
	__members__
	</div>
	__loading__
   <div class="clear_both">&nbsp;</div>
</div>

