<script type="text/javascript" language="javascript">
<!--
	Profile._sActionsUrl = '__actions_url__';
	Profile._sObjName = '__obj_name__';
    Profile._sViewType = '__sel_view__';
	Profile._iPerPage = '__per_page__';
    Profile._sOrderBy = '__order_by__';
	Profile._sSection = 'requests';
-->
</script>
<div id="items-panel" class="items-control-wrapper">
    <div id="items-search" class="items-search">__search__</div>
	<div id="items-member-section" class="items-member-section">
	__requests__
	__loading__
	</div>
   <div class="clear_both">&nbsp;</div>
</div>

