<div class ="points-increment-title">__increment_info__</div>
<table class="form_advanced_table points-info" cellpadding="0" cellspacing="0" width = "100%">
		<tr height="15">
            <th><bx_text:_aqb_points_membership /></th>
            <th><bx_text:_aqb_points_increment /></th>   
	    </tr>
		<bx_repeat:membership_increment>
		<tr>
            <td align="center">__mlevel_name__</td>
	        <td align="center">__mlevel_increment__</td>
		</tr>
		</bx_repeat:membership_increment>
</table>