<table class="form_advanced_table points-levels-info" cellpadding="0" cellspacing="0" width = "100%">
		<tr height="15">
            <th><bx_text:_aqb_points_levels_table_icon /></th>
			<th><bx_text:_aqb_points_levels_table_title /></th>
			<th><bx_text:_aqb_points_levels_table_points_range /></th>
			<th><bx_text:_aqb_points_levels_table_bonus /></th>
			<th><bx_text:_aqb_points_levels_table_membership /></th>
	    </tr>
		<bx_repeat:table>
		<tr>
            <td align="center">__icon__</td>
			<td align="center">__title__</td>
	        <td align="center">__range__</td>
	        <td align="center">__bonus__</td>
	        <td align="center">__membership__</td>
		</tr>
		</bx_repeat:table>
</table>