<form id="points-mlevels-prices-form" enctype="multipart/form-data" method="post" action="" class="form_advanced">
    <a id="prices__id__"></a>
    <div class="points-db-control-panel">
        <div class="points-mlevels-label">
            <bx_text:_aqb_points_mlevels_price_add_days />
        </div>
        <div class="input_wrapper input_wrapper_text points-mlevels-input">
            <input type="text" name="days" value="" class="form_input_text" />
            <div class="input_close input_close_text">&nbsp;</div>
        </div>
        <div class="points-mlevels-label">
            <bx_text:_aqb_points_info />
        </div>
        <div class="input_wrapper input_wrapper_text points-mlevels-input">
            <input type="text" name="points" value="" class="form_input_text" />
            <div class="input_close input_close_text">&nbsp;</div>
        </div>
        <div class="points-mlevels-btn">
            <div class="button_wrapper">
                <input type="submit" value="<bx_text:_adm_btn_mlevels_add_price />" name="points-mlevels-prices-add" class="form_input_submit" />
                <div class="button_wrapper_close">&nbsp;</div>
            </div>
        </div>
        <div class="clear_both">&nbsp;</div>
    </div>
    <div class="points-mlevels-items">
        <bx_repeat:items>
            <div class="points-mlevels-item">
                <input type="checkbox" class="form_input_checkbox" id="points-mlevels-__id__" name="prices[]" value="__id__" />
                <label for="points-mlevels-__id__">__title__</label>
            </div>
        </bx_repeat:items>
    </div>
    __controls__
</form>