<form id="items-requests-form" enctype="multipart/form-data" method="post" action="" class="form_advanced">
    <div class="items-control-panel">
        <div class="items-order-item-left">
            <bx_text:_aqb_points_admin_show_title />:
            <select name="show_only" class="form_input_select" onchange="Profile.showOnly(this);">
                <option value="" selected="selected"><bx_text:_aqb_points_admin_show_item_all /></option>
                <option value="unpaid"><bx_text:_aqb_points_admin_show_item_unpaid /></option>
                <option value="paid"><bx_text:_aqb_points_admin_show_item_paid /></option>
            </select>
        </div>
		<div class="items-order-item-right">
            __per_page__
        </div>
        <div class="clear_both">&nbsp;</div>
    </div>
    
    <div class="items-members-wrapper" id="items-members-common">__content_common__</div>
     __control__
</form>