<div class="adm-mp-stats-geeky">
    <table width="100%" class="adm-mp-stats-geeky" cellpadding="0" cellspacing="0">
        <tr>
            <th><bx_text:_member_statistics_date_range /></th>
            <th><bx_text:_member_statistics_members_number /></th>          
            <th><bx_text:_member_statistics_members_registered /></th>          
        </tr>
        <bx_repeat:items>
            <tr>
                <td width="*">__date__</td>
                <td width="25%">__members__</div></td>  
                <td width="25%"> __registered__</div></td>               				
            </tr>
        </bx_repeat:items>
    </table>
</div>
__paginate__